.summary {
  display: flex;
  text-align: left;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.summary h2 {
  font-size: 2rem;
  margin: 0;
}

.summary-wrapper {
  width: 35%;
  padding: 11% 0 0 5%;
}

.summary h2 {
  font-size: 36px;
  font-weight: 700;
}

.summary p {
  font-size: 16px;
}

.summary img {
  margin: 0 0 0 50%;
}
