.cartButton {
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin: 0 30px;
}

.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #b94517;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
