.wrapper {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  border: 0;
  padding: 0 40px;
  margin: 0 5px;
  width: 200px;
  height: 36px;
  font-size: 14px;
  align-items: center;
  border-radius: 25px;
  background-color: #e2a790;
}

.wrapper input:hover,
.wrapper input:active,
.wrapper input:focus {
  animation: colorChange 0.5s ease-in-out forwards;
}

.icon {
  position: absolute;
  margin: 0 16px;
}

.wrapper badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.wrapper input:hover .badge,
.wrapper input:active .badge,
.wrapper input:focus .badge {
  animation: colorChange 0.2s ease-in-out forwards;
}

@keyframes colorChange {
  0% {
    background-color: #e2a790;
  }
  100% {
    background-color: #dcd2ce;
  }
}
